#pills-security  {
    padding-top: 20px; /* Ou ajuste o valor conforme necessário */
}

.button_color{ 
    background-color: var(--color-teal); 
    border-color: var(--color-teal);
}
.button_color:hover{
    background-color: var(--color-light-orange); 
    border-color: var(--color-light-orange);
}

.nav_account .nav-link {
    color: var(--color-black); /* Cor do texto normal */
}

/* Estilo para o fundo do botão ativo */
.nav_account .nav-link.active {
    background-color: var(--color-teal); /* Cor de fundo para o botão ativo */
    color: var(--color-white); /* Cor do texto para o botão ativo */
}

.nav_acc{
    color: var(--color-teal);
}

.nav_acc:hover{
    color: var(--color-light-orange);
}