.highlight {
    background-color: var(--color-light-orange);
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.details {
    background-color: var(--color-light-orange);
    border-radius: 10px;
}
.products {
    margin: 80px auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.product-detail {
    display: flex;
    flex-wrap: wrap;

}
th {
    text-align: left;
    padding: 5px;
    color: black;
    font-weight: bold;
}
.products {
    max-width: inherit;
}
.product-detail img {
    margin-right: 16px;
    width: 80px;
    height: 80px;
}
td input {
    width: 40px;
    height: 30px;
    padding: 5px;

}
td a {
    color: var(--color-teal);
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}
.total {
    margin-top: auto;
}