#header1 {
    font-size: 50px;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.bg svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: scaleY(-1);
    z-index: -1;
}
nav {
    z-index: 1000;
}
#headline {
    position: relative;
    z-index: 1;
    margin-top: 12vh;
}
h2 { 
    font-weight: bolder;
    margin-left: 25px;
}
.categories a{
    text-decoration: none;
    color: black;
}
.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}
.category {
    text-align: center;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.icon-container {
    background-color: #ffff;
    padding: 10px;
    border-radius: 50%;
}

.icon-container:hover {
    background-color: var(--color-teal);
}
.icon-text {
    width: 80px;
    height: 80px;
}
.category h5 {
    margin: 0;
    padding: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
}
.content-text a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.carousel-control-next-icon {
    filter: invert(100%);
}
.carousel-control-prev-icon {
    filter: invert(100%);
}
