@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Nunito:wght@200&family=Raleway&display=swap');
@import url("./shared/reset.css");
@import url("./shared/variables.css");
@import url("./offers.css"); 
body {
    font-family: 'Montserrat';
    color: var(--font_color);
    /* overflow: hidden; */
}

.carousel-item img {
    width: 350px; /* Defina a largura desejada */
    height: 250px; /* Defina a altura desejada */
}

@media only screen and (max-width: 1024px) {
    html {
      font-size: 10px;
    }
}
